/* Home */

position: relative;
width: 1440px;
height: 2203px;

background: #1F1F1F;


/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 1323px;
height: 588px;
left: 59px;
top: 137px;

background: #262626;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;


/* Group 5 */

position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 293px;



/* Rectangle 17 */

position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 293px;

background: #FECB03;
border-radius: 100px;


/* shopping-cart-solid 1 */

position: absolute;
width: 53px;
height: 47px;
left: 119px;
top: 322px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #262626;


/* Group 9 */

position: absolute;
width: 291px;
height: 291px;
left: 1045px;
top: 231px;



/* Rectangle 17 */

position: absolute;
width: 279px;
height: 279px;
left: 1052px;
top: 237px;

background: #FECB03;
border-radius: 1000px;


/* clock-regular 1 */

position: absolute;
width: 291px;
height: 291px;
left: 1045px;
top: 231px;



/* Vector */

position: absolute;
left: 1.56%;
right: 1.56%;
top: 1.56%;
bottom: 1.56%;

background: #262626;


/* Forent */

position: absolute;
width: 159px;
height: 72px;
left: 59px;
top: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;
/* identical to box height */

color: #FFFFFF;



/* Rent Out Anything You Want */

position: absolute;
width: 846px;
height: 53px;
left: 224px;
top: 322px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;

color: #C4C4C4;



/* No worries about items getting lost */

position: absolute;
width: 846px;
height: 53px;
left: 224px;
top: 456px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;

color: #C4C4C4;



/* Online Payments Only */

position: absolute;
width: 846px;
height: 53px;
left: 224px;
top: 590px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;

color: #C4C4C4;



/* Group 8 */

position: absolute;
width: 260px;
height: 107px;
left: 1070px;
top: 566px;



/* Rectangle 9 */

position: absolute;
width: 260px;
height: 107px;
left: 1070px;
top: 566px;

background: #FECB03;
border-radius: 50px;


/* Know More */

position: absolute;
width: 205px;
height: 53px;
left: 1106px;
top: 593px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 52px;
/* identical to box height */

color: #262626;



/* About Us */

position: absolute;
width: 335px;
height: 53px;
left: 105px;
top: 178px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

color: #FFFFFF;



/* Our Categories */

position: absolute;
width: 453px;
height: 76px;
left: 105px;
top: 813px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 68px;

color: #FFFFFF;



/* Group 1 */

position: absolute;
visibility: hidden;
width: 112px;
height: 53px;
left: 1237px;
top: 33px;



/* Rectangle 2 */

position: absolute;
width: 112px;
height: 53px;
left: 1237px;
top: 33px;

background: #262626;
border-radius: 15px;


/* Login */

position: absolute;
width: 86px;
height: 32px;
left: 1263px;
top: 45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;



/* Group 2 */

position: absolute;
width: 434px;
height: 53px;
left: 958px;
top: 33px;



/* Group 24 */

position: absolute;
width: 112px;
height: 53px;
left: 1280px;
top: 33px;



/* Rectangle 2 */

position: absolute;
width: 112px;
height: 53px;
left: 1280px;
top: 33px;

background: #262626;
border-radius: 15px;


/* Rent */

position: absolute;
width: 52px;
height: 32px;
left: 1310px;
top: 43px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;

color: #FFFFFF;



/* Group 25 */

position: absolute;
width: 134px;
height: 53px;
left: 958px;
top: 33px;



/* Rectangle 2 */

position: absolute;
width: 134px;
height: 53px;
left: 958px;
top: 33px;

background: #262626;
border-radius: 15px;


/* Login */

position: absolute;
width: 60px;
height: 32px;
left: 995px;
top: 43px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;

color: #FFFFFF;



/* Group 4 */

position: absolute;
width: 597px;
height: 53px;
left: 319px;
top: 33px;



/* Rectangle 2 */

position: absolute;
width: 597px;
height: 53px;
left: 319px;
top: 33px;

background: #262626;
border-radius: 15px;


/* Search */

position: absolute;
width: 75px;
height: 28px;
left: 347px;
top: 47px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;

color: rgba(255, 255, 255, 0.2);



/* Group 30 */

position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 561px;



/* Group 7 */

position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 561px;



/* Rectangle 17 */

position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 561px;

background: #FECB03;
border-radius: 100px;


/* credit-card-regular 1 */

position: absolute;
width: 55px;
height: 49px;
left: 119px;
top: 590px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 6.25%;
bottom: 6.25%;

background: #262626;


/* Rectangle 2 */

position: absolute;
width: 131px;
height: 53px;
left: 1125px;
top: 33px;

background: #262626;
border-radius: 15px;


/* Explore */

position: absolute;
width: 82px;
height: 32px;
left: 1149px;
top: 43px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;

color: #FFFFFF;



/* Rectangle 18 */

box-sizing: border-box;

position: absolute;
width: 346px;
height: 391px;
left: 119px;
top: 965px;

background: #1F1F1F;
border: 3px solid #262626;
border-radius: 20px;


/* Electronics */

position: absolute;
width: 269px;
height: 53px;
left: 146px;
top: 1001px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;

color: #C4C4C4;



/* Group 10 */

position: absolute;
width: 169.44px;
height: 58px;
left: 277.65px;
top: 1278px;



/* Rectangle 9 */

position: absolute;
width: 169.44px;
height: 58px;
left: 277.65px;
top: 1278px;

background: #FECB03;
border-radius: 50px;


/* Know More */

position: absolute;
width: 98.21px;
height: 29px;
left: 316.51px;
top: 1296px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;

color: #262626;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */

position: absolute;
width: 283px;
height: 183px;
left: 146px;
top: 1054px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: rgba(255, 255, 255, 0.8);



/* Group 12 */

position: absolute;
width: 346.44px;
height: 391px;
left: 532.36px;
top: 965px;



/* Rectangle 18 */

box-sizing: border-box;

position: absolute;
width: 346.44px;
height: 391px;
left: 532.36px;
top: 965px;

background: #1F1F1F;
border: 3px solid #262626;
border-radius: 20px;


/* Clothes / Apparel */

position: absolute;
width: 301.11px;
height: 53px;
left: 559.34px;
top: 1001px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;

color: #C4C4C4;



/* Group 10 */

position: absolute;
width: 169.44px;
height: 58px;
left: 691.01px;
top: 1278px;



/* Rectangle 9 */

position: absolute;
width: 169.44px;
height: 58px;
left: 691.01px;
top: 1278px;

background: #FECB03;
border-radius: 50px;


/* Know More */

position: absolute;
width: 112.33px;
height: 28.95px;
left: 726.62px;
top: 1296px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;

color: #262626;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */

position: absolute;
width: 282.77px;
height: 183px;
left: 559.34px;
top: 1054px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: rgba(255, 255, 255, 0.8);



/* Group 22 */

position: absolute;
width: 346.44px;
height: 391px;
left: 532px;
top: 1418px;



/* Rectangle 18 */

box-sizing: border-box;

position: absolute;
width: 346.44px;
height: 391px;
left: 532px;
top: 1418px;

background: #1F1F1F;
border: 3px solid #262626;
border-radius: 20px;


/* Clothes / Apparel */

position: absolute;
width: 301.11px;
height: 53px;
left: 558.98px;
top: 1454px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;

color: #C4C4C4;



/* Group 10 */

position: absolute;
width: 169.44px;
height: 58px;
left: 690.65px;
top: 1731px;



/* Rectangle 9 */

position: absolute;
width: 169.44px;
height: 58px;
left: 690.65px;
top: 1731px;

background: #FECB03;
border-radius: 50px;


/* Know More */

position: absolute;
width: 112.33px;
height: 28.95px;
left: 726.27px;
top: 1749px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;

color: #262626;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */

position: absolute;
width: 282.77px;
height: 183px;
left: 558.98px;
top: 1507px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: rgba(255, 255, 255, 0.8);



/* Group 13 */

position: absolute;
width: 346.44px;
height: 391px;
left: 943.56px;
top: 965px;



/* Rectangle 18 */

box-sizing: border-box;

position: absolute;
width: 346.44px;
height: 391px;
left: 943.56px;
top: 965px;

background: #1F1F1F;
border: 3px solid #262626;
border-radius: 20px;


/* Gaming */

position: absolute;
width: 268.74px;
height: 53px;
left: 970.54px;
top: 1001px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;

color: #C4C4C4;



/* Group 10 */

position: absolute;
width: 169.44px;
height: 58px;
left: 1102.21px;
top: 1278px;



/* Rectangle 9 */

position: absolute;
width: 169.44px;
height: 58px;
left: 1102.21px;
top: 1278px;

background: #FECB03;
border-radius: 50px;


/* Know More */

position: absolute;
width: 112.33px;
height: 28.95px;
left: 1142.14px;
top: 1296px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;

color: #262626;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */

position: absolute;
width: 282.77px;
height: 183px;
left: 970.54px;
top: 1054px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: rgba(255, 255, 255, 0.8);



/* Group 23 */

position: absolute;
width: 346.44px;
height: 391px;
left: 944px;
top: 1418px;



/* Rectangle 18 */

box-sizing: border-box;

position: absolute;
width: 346.44px;
height: 391px;
left: 944px;
top: 1418px;

background: #1F1F1F;
border: 3px solid #262626;
border-radius: 20px;


/* Gaming */

position: absolute;
width: 268.74px;
height: 53px;
left: 970.98px;
top: 1454px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;

color: #C4C4C4;



/* Group 10 */

position: absolute;
width: 169.44px;
height: 58px;
left: 1102.65px;
top: 1731px;



/* Rectangle 9 */

position: absolute;
width: 169.44px;
height: 58px;
left: 1102.65px;
top: 1731px;

background: #FECB03;
border-radius: 50px;


/* Know More */

position: absolute;
width: 112.33px;
height: 28.95px;
left: 1142.58px;
top: 1749px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;

color: #262626;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */

position: absolute;
width: 282.77px;
height: 183px;
left: 970.98px;
top: 1507px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: rgba(255, 255, 255, 0.8);



/* Group 21 */

position: absolute;
width: 346.44px;
height: 391px;
left: 126.55px;
top: 1418px;



/* Rectangle 18 */

box-sizing: border-box;

position: absolute;
width: 346.44px;
height: 391px;
left: 126.55px;
top: 1418px;

background: #1F1F1F;
border: 3px solid #262626;
border-radius: 20px;


/* Gaming */

position: absolute;
width: 268.74px;
height: 53px;
left: 153.54px;
top: 1454px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;

color: #C4C4C4;



/* Group 10 */

position: absolute;
width: 169.44px;
height: 58px;
left: 285.21px;
top: 1731px;



/* Rectangle 9 */

position: absolute;
width: 169.44px;
height: 58px;
left: 285.21px;
top: 1731px;

background: #FECB03;
border-radius: 50px;


/* Know More */

position: absolute;
width: 112.33px;
height: 28.95px;
left: 324.06px;
top: 1749px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;

color: #262626;



/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */

position: absolute;
width: 282.77px;
height: 183px;
left: 153.54px;
top: 1507px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: rgba(255, 255, 255, 0.8);



/* Group 28 */

position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 427px;



/* Group 6 */

position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 427px;



/* Rectangle 17 */

position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 427px;

background: #FECB03;
border-radius: 100px;


/* tags-solid 1 */

position: absolute;
width: 62px;
height: 49px;
left: 116px;
top: 456px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #262626;


/* Group 26 */

position: absolute;
width: 1543px;
height: 283px;
left: 33px;
top: 1885px;



/* Rectangle 15 */

position: absolute;
width: 1346px;
height: 283px;
left: 33px;
top: 1885px;

background: #262626;
border-radius: 30px;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */

position: absolute;
width: 513px;
height: 183px;
left: 76px;
top: 1985px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: rgba(255, 255, 255, 0.8);



/* Home Search Explore Login/Signup */

position: absolute;
width: 513px;
height: 183px;
left: 701px;
top: 1978px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 35px;
/* or 175% */

color: rgba(255, 255, 255, 0.8);



/* Instagram Facebook Liinkedin Twitter */

position: absolute;
width: 513px;
height: 183px;
left: 1063px;
top: 1969px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 35px;
/* or 175% */

color: rgba(255, 255, 255, 0.8);



/* Forent */

position: absolute;
width: 335px;
height: 53px;
left: 76px;
top: 1910px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;

color: #FFFFFF;



/* Site Map */

position: absolute;
width: 335px;
height: 53px;
left: 701px;
top: 1920px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;

color: #FFFFFF;



/* Socials */

position: absolute;
width: 335px;
height: 53px;
left: 1059px;
top: 1916px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;

color: #FFFFFF;

